apiVersion: apps/v1
kind: Deployment
metadata:
  name: aws-cli
  labels:
    app: aws-cli
spec:
  selector:
    matchLabels:
      app: aws-cli
  replicas: 1
  template:
    metadata:
      labels:
        app: aws-cli
    spec:
      # serviceAccountName: aws-cli
      containers:
        - name: aws-cli
          image: amazon/aws-cli
          imagePullPolicy: Always
          command: ["/bin/bash", "-c", "--"]
          args:
            - "while true; do sleep 30; done;"
          resources:
            requests:
              memory: "64Mi"
              cpu: "10m"
            limits:
              memory: "128Mi"
              cpu: "100m"
      # nodeSelector:
      #   kubernetes.io/os: linux
      #   eks.xxx.com/arch: "x86"
      tolerations:
        - key: "eks.abacusdigital.com/workload"
          operator: "Equal"
          value: "general-purpose"
          effect: "NoSchedule"
            # env:
            #   - name: TZ
            #     value: custom
      #     volumeMounts:
      #       - name: tz-config
      #         mountPath: /etc/localtime
      # volumes:
      #   - name: tz-config
      #     hostPath:
      #       path: /usr/share/zoneinfo/Asia/Bangkok
      #       type: File
